<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1094695380732-rua73i0niamope19ko70c2la5qcq1sde.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1094695380732-rua73i0niamope19ko70c2la5qcq1sde</string>
	<key>API_KEY</key>
	<string>AIzaSyCDX1k6iZSzOdDqoYsdaGiIBUU5rpF5DvY</string>
	<key>GCM_SENDER_ID</key>
	<string>1094695380732</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>GroverTech.BroChat</string>
	<key>PROJECT_ID</key>
	<string>brochatdb-43e48</string>
	<key>STORAGE_BUCKET</key>
	<string>brochatdb-43e48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1094695380732:ios:797add815b1198ea</string>
	<key>DATABASE_URL</key>
	<string>https://brochatdb-43e48.firebaseio.com</string>
</dict>
</plist>